# MongoDB Atlas Connection String
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.nx1yqot.mongodb.net/feedback-system?retryWrites=true&w=majority&appName=Cluster0

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=development_secret_feedback_system_key_12345

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
